{% extends 'layout.html'%}

{% block body%}
<html>
    <head>
    </head>
    <body>
        <div class="container">
            <br>
            <center> <h1>Housing Price of Beijing from 2011 to 2017</h1> </center>
            <br> 
        </div>
        <div class="row">
            <div class="col-sm-7">
                <img src="https://images.unsplash.com/photo-1597052145523-d41d3c5b00fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80" height="420px" width="600px">
            </div>
            <div class="col-sm-5">
                <p align="justify"><b>Beijing</b> is the capital of the People's Republic of China and one of the
                    the most populous city in the world with a population of over 21 million. The metropolis that is located
                    in northern China it is a municipality under the direct control of the Chinese central government
                    consisting of 16 urban, suburban and rural districts. As a megacity, Beijing is the second largest city in China after Shanghai in terms of
                    The number of urban residents, the rest of Beijing is the center of national politics, culture and education.
                    Beijing is home to the world's four largest financial institutions and major corporations
                    Chinese-owned state-owned enterprises and home to a number of world-class companies on the annual list
                    Fortune Global 500. Beijing is also a major center, the national highway, the expressway
                    controlled, rail lines and high speed rail network. Beijing Capital International Airport
                    being the second busiest airport in the world based on heavy passenger traffic since 2010 and
                    The Beijing subway is the world's busiest and longest subway network as of 2016.  
                </p>
            </div>
        </div>
    </body>
</html>
{% endblock body %}